.button button{
    width: 100px;
    height: 40px;
    font-weight: 600;
    background: linear-gradient(157.81deg, #DEF9FA -43.27%, #BEF3F5 -21.24%, #9DEDF0 12.19%, #7DE7EB 29.82%, #5CE1E6 51.94%, #33BBCF 90.29%);
    border-radius: 10px;
    transition: all .4s ease;

}
.button button:hover{
    transform: translate3D(0,-1px,0) scale(1.1);
    transition: all .4s ease;
    cursor: pointer;
}