*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 180px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  background-color: #505050;
  margin: 0;
}

.FushaELojes {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.qeliza {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: white;
}

.qeliza:first-child,
.qeliza:nth-child(2),
.qeliza:nth-child(3) {
  border-top: none;
}

.qeliza:nth-child(3n + 1) {
  border-left: none;
}

.qeliza:nth-child(3n + 3) {
  border-right: none;
}

.qeliza:last-child,
.qeliza:nth-child(8),
.qeliza:nth-child(7) {
  border-bottom: none;
}

.qeliza.x,
.qeliza.rrethi {
  cursor: not-allowed;
}

.qeliza.x::before,
.qeliza.x::after {
  background-color: black;
}

.qeliza.rrethi::before,
.qeliza.rrethi::after {
  background-color: red;
}

.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::before,
.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::after {
  background-color: lightgrey;
}

.FushaELojes.rrethi .qeliza:not(.x):not(.rrethi):hover::before {
  background-color: pink;
}

.qeliza.x::before,
.qeliza.x::after,
.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::before,
.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * .15);
  height: var(--mark-size);
}

.qeliza.x::before,
.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::before {
  transform: rotate(45deg);
}

.qeliza.x::after,
.FushaELojes.x .qeliza:not(.x):not(.rrethi):hover::after {
  transform: rotate(-45deg);
}

.qeliza.rrethi::before,
.qeliza.rrethi::after,
.FushaELojes.rrethi .qeliza:not(.x):not(.rrethi):hover::before,
.FushaELojes.rrethi .qeliza:not(.x):not(.rrethi):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.qeliza.rrethi::before,
.FushaELojes.rrethi .qeliza:not(.x):not(.rrethi):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.qeliza.rrethi::after,
.FushaELojes.rrethi .qeliza:not(.x):not(.rrethi):hover::after {
  width: calc(var(--mark-size) * .7);
  height: calc(var(--mark-size) * .7);
  background-color: white;
}

.mesazhi-fituesit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.mesazhi-fituesit button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.mesazhi-fituesit button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.mesazhi-fituesit.show {
  display: flex;
}