@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  font-weight: 200;
}

.bg{
  background: url('../img/Marshmellob.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
}
img{
  max-width: 100%;
}
.player{
  width: 400px;
  height: 680px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px 0 0 0;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.5), -3px -3px 50px rgba(0, 0, 0, 0.5);
}

.container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}
.top-icons{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.top-icons a{
  color: #fff;
  font-size: 1.3em;
}
.top-icons a:hover{
  color: #b9b6b6;
  transition: all 0.2s ease-in-out;
}
.img{
  border-top: 3px solid #fff;
  border-radius: 50%;
}
.img img{
  margin: 50px 0 0 55px;
  width: 70%;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.img img:hover{
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.5), -3px -3px 50px rgba(0, 0, 0, 0.5);
}
.text{
  text-align: center;
  margin: 10px 0;
}
.text h1{
  font-size: 3em;
}
.text h4{
  font-size: 1.4em;
}
.time{
  display: flex;
  justify-content: space-between;
  margin: 20px 0 0 0;
}
.time a{
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: bold;
}
.seek{
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.3);
  margin: 5px 0;
  position: relative;
}
.fill{
  width: 65%;
  height: 4px;
  background: rgba(255, 255, 255, 0.7);
}
.handle{
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  top: -3px;
  right: 120px;
}
.btns{
  margin: 40px 0;
  text-align: center;
}
.btns a{
  color: #fff;
  font-size: 1.8em;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
.btns a:hover{
  color: #b9b6b6;
}
.btns a:nth-child(1) , .btns a:nth-child(5){
  opacity: 0.6;
} 
.btns a:nth-child(1):hover , .btns a:nth-child(5):hover{
  opacity: 1;
  color: #fff;
} 

.btns a:nth-child(3){
  border: 2px solid #fff;
  padding: 15px 22px;
  border-radius: 50%;
}
button{
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: #00c9d0;
  border: none;
  width: 100%;
  height: 70px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background: #02a0a5;
}