*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Michroma', sans-serif;
}

html{
    font-size: 10px;
    background: white;
    color: #FFC700;
}

main{
    max-width: 50rem;
    margin: 2rem auto;
    background: linear-gradient(45deg, #Df73ff, #0d469c);
    padding: 3rem 1.5rem 6rem 1.5rem;
    border-radius: 7rem;
    box-shadow: 0 5px 5px yellowgreen;

}

h1{
    text-align: center;
    font-size: 3rem;
    margin: 0;
    padding-bottom: 3rem;
}

section{
    background: linear-gradient(45deg, #801155, #918EEA);
    font-size: 1.34rem;
    margin-bottom: 1.5rem;
    padding: 0 1.5rem;
    border-radius: 7rem;
    box-shadow: inset 1px -1px rgb(0, 0, 0);
}

section > div{
    padding: 3rem 1.8rem;
}

.bill{
    display: flex;
}

.bill label{
    flex: 1;    
    align-self: center;
}

.bill input{
    flex: 3;
}

input[type="number"]{
    background: #FFC700;
    font-size: 1.5rem;
    border-radius: 7rem;
    border: 3px solid rgb(11, 63, 131);
    padding: 1rem 0 1rem 1rem;
    box-shadow: inset -2px 2px ;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.total{
    font-size: 2rem;
    font-weight: bold;
}

.range{
    appearance: none;
    width: 100%;
    height: 1rem;
    border-radius: 7rem;
    margin-top: 2rem;
    background: #fff;
}

.range::-webkit-slider-thumb{
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FFC700;
    border: 1.5px solid ;
    cursor: pointer;
}