*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.wrapper{
    width:300px;
    padding: 40px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #212531;
    box-shadow: 0 0 10px 8px #0007;
}
#screen,#output,#generateBtn{
    width:100%;
}
#screen{
    padding: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    border:5px solid #fff;
}
#screen::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color:var(--color,#ccc);
}
#output{
    margin: 40px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px dashed #fff;
    font-size: 25px;
    color:#fff;
    display: flex;
    flex-flow:row nowrap;
    align-items: center;
    justify-content: space-between;
}
#copyBtn{
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: #888a90;
    background-image: url('./copy.png');
    background-repeat: no-repeat;
    background-position:center;
    background-size: 60%;
    transition: transform 0.15s ease;
}
#copyBtn:active{
    transform: scale(1.2);
}
#generateBtn{
    border:none;
    padding: 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: transform 0.15s ease;

}
#generateBtn:active{
    transform: translateY(-5%);
}