@font-face {
    font-family: Montserrat;
    src: url("fonts/Montserrat-Regular.ttf");
}

* {
    font-family: Montserrat;
}

body {
    background-color: teal;
}

h1 {
        text-align: center;
        color: white;
        margin-top: 50px;
}

.screen {
    background-color: cyan;
    border: solid black 2px;
    font-size: 14px;
    width: 95%;
    cursor: default;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}

input[type="button"]:hover {
    background-color: #fff;
}

input[type="button"]:active {
    background-color: orangered;
}

.operator {
    background-color: orange;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.number {
    padding: 5px;
    height: 40px;
    color: black;
    border: solid black 2px;
    width: 100%;
    cursor: pointer;
}

.decimal {
    background-color: lightblue;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.clear {
    background-color: lightsalmon;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px ;
}

.equal {
    background-color: lightgreen;
    padding: 5px;
    color: black;
    border: solid black 2px;
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.container {
    width: 40%;
    background-color: #fff;
    align-self: center;
    display: block;
    margin: 100px auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 10px 20px black;
}

table {
    width: 100%;
}

div.relative {
    position: absolute;
    top: 600px;
    right: 120px;
}